/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */
body {
background: #ffffff; 

}

html {
background: #ffffff;

}


#header .header-inner {
background-image: none;
background-repeat: no-repeat;
/* height: 135px; */
background: #2573ae;

}


/* This sets the area under the header and footer. All other objects sit on top of this. */
#columns
 {
background: #ffffff;
background-image: none ;

}

#main-content {
background: #ffffff;

}


/*Header colours*/
h1, h2, h3 {
color:  #2573ae;
}

#logo img {

height: 75px;
width: 75px;
}


/* Set heights on branding and header elements */
#header,
#branding {
  max-height:100px;
}
#head-elements {
  min-height: 150px;

}
/* IE6 treats height like max height */
.ie6 #header,
.ie6 #branding,
.ie6 #head-elements {
  height: 150px;
}

#menu-bar {
border-top: rgb(159,0,103) solid 3px;
background: none;
}

#menu-bar ul li a {
color: #2573ae;
}

/*
#menu-bar ul li {
border-right: 2px solid #2573ae;
}

#menu-bar ul li.last {
border-right: none;
} */

/* now adjust the active menu */




#menu-bar ul li a.active {
background: #2573ae;
color: #ffffff;
}

a:hover,
#menu-bar ul li a:hover {
color: #000000;
background:  #ffffff;
}


/* Additional menu block tweaks. Each sub menu must be added to the list here.*/


/* Additional menu block tweaks. Each sub menu must be added to the list here.*/

.sidebar .block-inner {
border: 1px solid #2573ae;
}

h2.block-title {
padding-left: 0em;
}

 .block-block h2.block-title,
 .block-views h2.block-title,
.block-menu h2.block-title {
padding-left: 2em;
}
 .block-block .block-content ul li,
 .block-views .block-content ul li,
 .block-content ul.menu li,
.block-system .item-list ul li
 /*This works but hits the main menu unless the "block content" class is added*/
 {
display: table;
list-style-type: none;
list-style-image: none;
margin-bottom: 10px;
}

 .block-block .block-content ul {

margin-left: 15px;
}

/*Try to make this universal*/
 .block-block .block-content ul li a,
 .block-views .block-content ul li a,
 .block-content ul.menu li a,
.block-system .item-list ul li a
 /*This works but hits the main menu unless the "block content" class is added*/
{
display: table-cell;
color: #ffffff;
background-color: #2573ae;
width: 230px;
height: 60px;
vertical-align: middle;
text-align: center;
/*padding-top: 20px;*/
font-size: normal;
/* border-radius: 10px;*/
box-shadow: 10px 10px 5px #888888;
padding-left: 5px;
padding-right: 5px;
}


/*Now to change the active menu*/
 .block-block .block-content ul li a.active,
 .block-views .block-content ul li a.active,
 .block-content ul.menu li a.active,
.block-system .item-list ul li a.active

 /*This works but hits the main menu unless the "block content" class is added. Your choice!*/
{
display: block;
background-color: #2573ae;
box-shadow: none;

}
/* End menu tweaks */



/*Override color.css */
.block-inner {
  background: #ffffff;
}


.field-type-image figure {
border: none;
}


#block-system-powered-by  {

display: none;

}

#footer {
border-top: rgb(159,0,103) solid 3px;
color: #000000;
background: #ffffff;
}

#footer a {
color: #2573ae;
}


/* Must override any changes to the pager class from views */

 .item-list-pager ul.pager li
 {
display: inline;
list-style-type: none;
list-style-image: none;

}

 .item-list-pager ul.pager li a {
border: solid red 1px;
display: inline;
color: #2573ae;
background-color: #ffffff;
width: auto;
height: auto;
/*padding-top: 20px;*/
font-size: normal;
/* border-radius: 10px;*/
box-shadow: none;

}


}

