#node-229 h2,
#node-262 h2,
#newsletter-mastheadhha h2,
.newsletter-masthead h2 {
padding-left: 10px;
line-height: normal;
font-size: 35px;
background: none; 
color: #FFffff;
font-family: 'Cantata One', serif;
}

.newsletter-masthead .node-content,
.newsletter-masthead .block-content {
background: #2573ae; /* Old browsers */
background: -moz-linear-gradient(top,  #2573ae 0%, #589fd7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2573ae), color-stop(100%,#589fd7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2573ae 0%,#589fd7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2573ae 0%,#589fd7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2573ae 0%,#589fd7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2573ae 0%,#589fd7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2573ae', endColorstr='#589fd7',GradientType=0 ); /* IE6-9 */

}


/* Lines */
/*#node-229 p */
.newsletter-masthead p{
border-top: #FFA328 solid 6px;
}

.newsletter-masthead p {
font-size: 15px;
background: #0C4571;
color: white;
} 

.newsletter-masthead h2,
.newsletter-masthead p {
padding: .5em;
}

.newsletter-article h2,
.node-article h2 {
font-family: 'Cantata One', serif;
color: #2573ae;
background: none;
font-size: large;
margin-left: 0px;
padding-left: 0px;
}

.newsletter-leader h2 {
font-family: 'Cantata One', serif;
color: #2573ae;
background: none;
font-size: x-large;
margin-left: 0px;
padding-left: 0px;
}

.newsletter-leader p:first-child {
font-weight: bold;
}

.newsletter-subscribe h2 a {
display:block;
background: #FFA328;
color: white;
padding: 1em;
width: 10em;
-mox-border-radius: 8px;
border-radius: 8px;
-mox-box-shadow: 5px 5px 10px #888;
-webkit-box-shadow: 5px 5px 10px #888;
box-shadow: 5px 5px 10px #888;
float: right;
}
